.container{
    height:550px;
    width:800px;
    background: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    border-radius: 20px;
}
.searching{
    margin: 12px auto;
    padding-top: 42px;
    width:30%;
    
    
}